.displayWeatherCity {
  border: 2px solid rgb(16, 98, 165);
  margin-top: 50px;
  padding: 20px 30px 30px;
}

#searchCityButton {
  padding: 10px 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: white;
  color: rgb(16, 98, 165);
  border: 2px solid rgb(16, 98, 165);
  border-radius: 30px 10px;
}

#inputCity {
  padding: 10px 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: white;
  color: rgb(16, 98, 165);
  border: 2px solid rgb(16, 98, 165);
  border-radius: 30px 10px;
}

h1 {
  padding: 20px 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(9, 27, 66);
}
