body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/015/626/original/images_weatherApp.jpg?1629536771");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.displayWeatherCity {
  background-color: white;
  border: 2px solid rgb(16, 98, 165);
  margin-top: 50px;
  padding: 20px 30px 30px;
}

#searchCityButton {
  padding: 10px 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: white;
  color: rgb(16, 98, 165);
  border: 2px solid rgb(16, 98, 165);
  border-radius: 30px 10px;
}

#inputCity {
  padding: 10px 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: white;
  color: rgb(16, 98, 165);
  border: 2px solid rgb(16, 98, 165);
  border-radius: 30px 10px;
}

h1 {
  display: block;
  padding: 10px 5px 0px 2px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(9, 27, 66);
}

.todayDate {
  display: block;
  padding: 5px 0px 0px 5px;
  margin-top: 10px;
  margin-bottom: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  color: rgb(16, 98, 165);
}

.row-weatherDetails {
  display: block;
  margin-bottom: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(9, 27, 66);
}

.weather-description {
  text-transform: capitalize;
  margin-top: 15px;
}

#temperature {
  font-size: 30px;
}

.celsius-Fahrenheit {
  font-size: 15px;
  color: rgb(9, 27, 66);
}

.celsius {
  text-decoration: none;
}
.celsius:hover {
  text-decoration: underline;
}

.fahrenheit {
  text-decoration: none;
}

.fahrenheit:hover {
  text-decoration: underline;
}

.weather-forecast-date {
  text-align: center;
  margin-bottom: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  color: rgb(16, 98, 165);
}

#forecast-icons {
  display: block;
  margin: auto;
}

.temperature-forecast {
  text-align: center;
  margin-top: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 12px;
  font-weight: bolder;
  color: rgb(9, 27, 66);
}

span.min-temperature {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 12px;
  color: rgb(16, 98, 165);
}

.code-creator {
  display: block;
  padding: 30px 8px 0px 8px;
  margin-top: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(9, 27, 66);
}
